<div class="row header">
    <h1>Onyekachi</h1>
    <p class="pronunciation">pronounced /ohwn-yay-kah-chee/</p>
</div>
<div class="row content">
  <!--<div class="my-picture col-md-6" style="background-color: #f2f2f2"><img src=""></div>-->
  <div class="bio col-md-6  col-md-offset-3">
    <p>I'm a 19 year old Computer Science student at the University of Lagos. I make elegant web and android apps with these awesome people: <a href="http://twitter.com/@kolapo_">@kolapo_</a>, <a href="http://twitter.com/@lolu_">@lolu_</a> and <a href="http://twitter.com/@rtukpe">@rtukpe</a>.</p>
    <p>I'm currently learning to be a designer under <a href="http://twitter.com/@josephbensona">@josephbensona</a> and <a href="http://twitter.com/@udezekene">@udezekene</a>.</p>
    <p><ul class="other-links">
      <li><a href="http://illustrations.onyekachi.me">- illustrations</a></li>
      <li><a href="http://twitter.com/@kayceeO_m">- twitter</a></li>
      <li><a href="http://instagram.com/@kayceeO_m">- instagram</a></li>
      <li><a href="https://github.com/kayceeOM">- github</a></li>
    </ul></p>
  </div>
</div>

<div class="row footer">
  <p>made in Lagos, Nigeria by Onyekachi.</p>
  <p>view site source on <a href="https://github.com/kayceeOM/onyekachi.me">Github</a></p>
</div>