<div class="row header">
    <h1>Onyekachi</h1>
    <p class="pronunciation">pronounced /ohwn-yay-kah-chee/</p>
</div>
<div class="row content">
  <!--<div class="my-picture col-md-6" style="background-color: #f2f2f2"><img src=""></div>-->
  <div class="bio col-md-6  col-md-offset-3">
    <h4>Hi there, I'm Onyekachi!</h4>
    <p>I'm a 20 year old CS student at the University of Lagos, and a Developer at <a href="http://cchubnigeria.com">the Co Creation hub</a>. I draw a lot and illustrate as a hobby.</p>
    <p>
    <h4>Elsewhere on the internet.</h4>
    <ul class="other-links">
      <li><a href="http://illustrations.onyekachi.me">- illustrations</a></li>
      <li><a href="http://twitter.com/@kayceeO_m">- twitter</a></li>
      <li><a href="http://instagram.com/@onyekvchi">- instagram</a></li>
      <li><a href="https://github.com/kayceeOM">- github</a></li>
      <li><a href="http://onyekvchi.vsco.co">- vsco</a></li>
    </ul></p>
  </div>
</div>

<div class="row footer">
  <p>made in Lagos, Nigeria by Onyekachi.</p>
  <p>view site source on <a href="https://github.com/kayceeOM/onyekachi.me">Github</a></p>
</div>