// @import 'bootstrap';

$primaryRed: #f9163d;
$primaryBlack: #222222;
$primaryGray: #777777;
$lighterGray: #aaaaaa;
$backgroundColor: #fdfdfd;
$baseFontFamily: 'PT Sans';
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

body{
  background-color: $backgroundColor;
  font-family: $baseFontFamily;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: -1em;
}

a{
  color: $primaryGray;
}

a:hover{
  color: $primaryRed;
}

.container{
  max-width: 960px;
}

.header{
  text-align: center;
  font-style: italic;
  padding: 30px;
  border-top: 4px solid $primaryRed;

  h1{
    font-weight: 800;
    text-transform: uppercase;
    color: $primaryRed;
    margin: 2px;
    font-size: 32px;
  }

  .pronunciation{
    font-size: 12px;
    color: $primaryGray;
    margin: 0px;
  }
}


.content{
  margin: 10px 5px;

  .bio{
    font-style: italic;
    font-size: 21px;
    line-height: 1.4;
    color: $primaryBlack;

    p{
       margin:20px 0 20px 0;
     }
  }

  .my-picture{
    height: 300px;
    max-height: 480px;
    padding: 10px;
  }
}

.footer{
  font-size: 12px ;
  color: $lighterGray;
  padding: 20px 0px;
  font-style: italic;
  text-align: center;
}

@media (min-width: 768px){
  .content{
    margin: 20px 0;

    .bio{
      p{
        margin:0 10px 30px 10px;
      }
    }

    .my-picture{
      height: 480px;
      max-height: 480px;
    }
  }

}